<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='main.css') }}"
    />
    <title>DataCollection</title>
  </head>
  <body>
    <div class="canvas-container">
      <h1 class="canvas-heading">Draw number {{ input_value }}</h1>
      <canvas id="canvas"></canvas>
      <div class="canvas-operate">
        <button class="clear-canvas" onclick="clearCanvas()">Clear</button>
        <button class="capture" onclick="captureCanvas()">Capture</button>
      </div>
      <a href="{{ url_for('home') }}">
        <button class="back">Back</button>
      </a>
    </div>
  </body>
  <script src="{{ url_for('static', filename='canvas.js') }}"></script>
</html>
